/* header */
#tracks-logo {
  position: relative;
  top: -13px;
}

#tracks-logo .fa-circle {
  color: green;
}

#tracks-logo .fa-check {
  color: white;
}

/* todo items */
.context li {
  font-size: larger;
}

.context .fa {
  color: #eee;
}

.context .fa:hover {
  color: inherit;
}

.context .fa-star {
  margin-right: .5em;
}

/* sidebar */
#sidebar {
  width: 100%;
}

#sidebar div {
  height: 0;
}

#sidebar.affix {
  position:fixed;
  top: 30px;
}

#sidebar.affix-top {
  position: absolute;
  top: 80px;
}

/* add-action modal */
.nav-pills {
  margin-top: 15px;
}