/* header */
#tracks-logo {
  position: relative;
  top: -13px;
}

#tracks-logo .fa-circle {
  color: green;
}

#tracks-logo .fa-check {
  color: white;
}

/* todo items */
.context li {
  font-size: larger;
}

.context .fa {
  color: #eee;
}

.context .fa:hover {
  color: inherit;
}

.context .fa-star {
  margin-right: .5em;
}

/* add-action modal */
.nav-pills {
  margin-top: 15px;
}